.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding:  15px 10px;
  box-sizing: border-box;
  width: 100%;
}

@media(min-width: 1300px) {
  .content {
    width: 1250px;
  }
}
