.header {
  width: 100%;
  align-items: center;
  background-color: darkgoldenrod;
  color: white;
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  min-height: 80px;
  margin-bottom: 10px;
}


@media(max-width: 750px) {
  .header {
    flex-direction: column;
  }
}
