.Header {
  width: 100%;
  align-items: center;
  background-color: darkgoldenrod;
  color: white;
  display: flex;
  font-weight: bold;
  height: 80px;
  margin-bottom: 20px;
}

.Header-Logo {
  align-items: center;
  display: flex;
  margin-right: 10px;
}

.Header-Logo-Icon {
  padding: 0px 10px;
}
