.searchBar {
  flex: 1;
  justify-content: center;
  padding: 10px 10px;
  box-sizing: border-box;
  width: 100%;
}

.searchBar__form {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.searchBar__input {
  display: flex;
  flex: 2;
  border: none;
  border-radius: 4px;
  font-family: Raleway;
  font-size: 0.9em;
  padding: 10px 15px;
  width: 100%;
  min-width: 100px;
}

.searchBar__input:focus {
  outline: none;
  box-shadow: 0 0 0 2px orange;
}

.searchBar__button {
  color: lightyellow;
  color: wheat; 
  background-color: orange;
  border: none;
  border-radius: 4px;
  color:white;
  padding: 10px;
  transition: background-color 0.7s;
}

.searchBar__button:hover {
  background-color: rgb(207, 211, 0);
}

.searchBar__button:focus {
  outline: none;
  box-shadow: 0 0 0 2px white;
}

.searchBar__inputSpan,
.searchBar__buttonSpan {
  margin: 0 0 0 10px;
  display: flex;
}

.searchBar__inputSpan {
  flex: 1;
}

@media(max-width: 359px) {
  .searchBar__inputSpan {
    margin: 0 0 10px 10px;
  }
}
