.AddPostIt {
  font-family: Raleway;
  width: 100%;
}

.AddPostIdForm {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.AddPostIt button {
  background-color: #0b294d;
  border: none;
  border-radius: 8px;
  color:white;
  font-family: Raleway;
  font-size: 0.9em;
  font-weight: 600;
  padding: 10px 15px;
  transition: background-color 0.5s;
}

.AddPostIt button:focus {
  outline: none;
  box-shadow: 0 0 0 2px darkgoldenrod;
}

.AddPostIt button:hover {
  background-color: #1152a7;
}

.AddPostIt input {
  border-bottom: 1px solid #888;
  border: 1px solid #888;
  border-radius: 8px;
  font-family: Raleway;
  font-size: 0.9em;
  padding: 10px 15px;
}

.AddPostIt input:focus {
  outline: none;
  border-color: darkgoldenrod;
}

.AddPostIt span {
  margin: 5px 5px 0px 5px;
}
