.postIt {
  margin: 10px 3px;
}

.postIt__actionContainer {
  padding: 0px 6px 3px 5px;
  color: transparent;
  text-align: right;
}

.postIt__actionContainer button {
  color: transparent;
  background-color:  transparent;
  border: none;
}

.postIt__actionContainer button:focus{
  outline: none;
}

.postIt:hover button {
  color: #333;
}

@media(max-width: 646px) {
  .postIt button {
    color: #333;
  }
}
