.addPostIt {
  font-family: Raleway;
  width: 100%;
  box-sizing: border-box;
}

.addPostIt__form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
}

.addPostIt__span {
  margin: 10px 5px 0px 5px;
}

.addPostIt button {
  background-color: orange;
  border: none;
  border-radius: 4px;
  color:white;
  font-family: Raleway;
  font-size: 0.9em;
  font-weight: 600;
  padding: 10px 15px;
  transition: background-color 0.5s;
}

.addPostIt button:focus {
  outline: none;
  box-shadow: 0 0 0 2px darkgoldenrod;
}

.addPostIt button:hover {
  background-color: rgb(207, 211, 0);
}

.addPostIt input {
  font-family: Raleway;
  font-size: 0.9em;
  padding: 10px 15px;
  border: 1px solid #b9b7b7;
  border-radius: 4px;
}

.addPostIt input:focus {
  outline: none;
  border-color: darkgoldenrod;
}

@media(max-width: 570px) {
  .addPostIt__form {
    flex-direction: column;
  }

  .addPostIt__span {
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
    display: flex;
  }

  .addPostIt input {
    flex: 1;
    box-sizing: border-box;
  }
}
